@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

#progress {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: #e0e0e0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#progress::-webkit-progress-value {
  background-color: #17a2b8;
  border-radius: 10px;
}

#progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}


.progress-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.progress-label {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.progress-value {
  font-size: 24px;
  font-weight: bold;
}


.header-container {
  background-color: #17a2b8;
  padding: 20px;
  text-align: center;
}

.conteneur-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  background-color: #17a2b8;
  padding: 10px 0;
}

.element-flex {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin: 0 10px;
}

.element-flex a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #17a2b8;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.element-flex a:hover {
  background-color: #17a2b8;
  color: #ffffff;
}

.element-flex a#current {
  background-color: #17a2b8;
  color: #ffffff;
}

.site-title {
  color: white;
  margin: 0;
}

#login-form,
#add-consommation-form {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
}

#login-form label,
#add-consommation-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#login-form input,
#add-consommation-form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 8px;
  width: 100%;
}

#login-form input[type="submit"],
#add-consommation-form input[type="submit"] {
  background-color: #17a2b8;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 12px;
  text-transform: uppercase;
  width: 100%;
}

#login-form input[type="submit"]:hover,
#add-consommation-form input[type="submit"]:hover {
  background-color: #45a049;
}

#error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}