table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h1{
    text-align: center;
  }

  table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
  }
  